<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
 
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
 
    <!-- STDOUT1 -->
    <appender name="STDOUT1" class="org.apache.log4j.ConsoleAppender">
        <param name="threshold" value="debug" />
        <param name="Encoding" value="UTF-8" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                               value="%m %n" />
        </layout>
    </appender>
    <appender name="file" class="org.apache.log4j.FileAppender">
    	<param name="File" value="../log/car_messageMaker${str}.log" />
        <param name="Encoding" value="UTF-8" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                               value="%m %n" />
        </layout>
    </appender>


    <!-- LOGGER ROOT -->
    <root>
        <priority value="info" />
        <appender-ref ref="STDOUT1" />
        <appender-ref ref="file" />
    </root>
      
</log4j:configuration>